@model TServicesDB.Models.TSRoute

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>ТК-Маршруты</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numberRoute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numberRoute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TSRouteID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
